server {
    listen ${NGINX_PORT} default_server;
    server_name _;

    root /app;
    index index.html;

    include includes/cors.in;
    include includes/options.in;

    location / {
        include includes/cors.in;
        try_files $uri $uri/ /index.html;
    }

    location /assets/index {
        include includes/cors.in;
        add_header Cache-Control "no-cache";
        try_files $uri $uri/ =404;
    }

    location /api {
        set $upstream https://fakestoreapi.com;
        proxy_pass $upstream$1;

        rewrite ^/api(.*)$ $1 break;
        
        proxy_set_header Host fakestoreapi.com;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
    }

}